*
!*/
!*.v
!*.h
!*.c
!*.cc
!*.cpp
!*.S
!*.ld
!*.sh
!*.py
!*.mk
!Makefile
!README
!README.md
!LICENSE
.*
_*
*~
build/
cpu-tests/build/
cpu-tests/abstract-machine/am/build/
cpu-tests/abstract-machine/klib/build/
!.gitignore
