*
!*/
!*.v
!*.vh
!*.h
!*.hh
!*.c
!*.cc
!*.cpp
!*.S
!*.ld
!*.sh
!*.py
!*.mk
!*.bin
!Makefile
!README
!*.md
!LICENSE
!.gitignore
**/build/
**/build_test/
**/difftest
!em/third-party/DRAMsim3
myinfo.txt
syn/