*.cmd
*.log
_ngo/
*.xmsgs
isim/
*.bld
*.cmd_log
*.lso
*.ngc
*.ngd
*.ngr
*.prj
*.stx
*.syr
*.xst
*.map
*.mrp
*.ngm
*.html
*.xrpt
netgen/
*.nlf
*.sdf
*_map.v
*_timesim.v
*_translate.v
planAhead_run_*/
*.par
*.pcf
*.twr
*.twx
*.unroutes
*.csv
*.txt
*.xpi
*.fdo
*.mdo
*.ndo
*.tdo
*.bgn
*.bit
*.drc
*.ptwx
*.pwr
*.ut
*.blc
*.exe
*.wdb
*.psr
*.xml
*.wlf
work/
*.ini
xlnx_auto_0_xdb/
xst/
*.out
*.debug
*.vcd

*.mcs
*.prm
*.bak

*.runs/
