//
// CLK & reset
//
NET "CLK_50M_IN" 		LOC = A10 	|IOSTANDARD = LVTTL;
NET "SYS_RST_N" 		LOC = R7 	|IOSTANDARD = LVTTL;

//
// LED indicators
//
NET "LED_INC[0]" 		LOC = T9 	|IOSTANDARD = LVTTL;
NET "LED_INC[1]" 		LOC = R9 	|IOSTANDARD = LVTTL;

//
// SDRAM
//
NET "DRAM_CLK" 		LOC = H1 	|IOSTANDARD = LVTTL;
NET "DRAM_CKE" 		LOC = J1 	|IOSTANDARD = LVTTL;
//DQML
NET "DRAM_DQM[0]"		LOC = F3 	|IOSTANDARD = LVTTL;
//DQMH
NET "DRAM_DQM[1]"		LOC = H2 	|IOSTANDARD = LVTTL;
NET "DRAM_CAS_L" 		LOC = H3 	|IOSTANDARD = LVTTL;
NET "DRAM_RAS_L" 		LOC = J4 	|IOSTANDARD = LVTTL;
NET "DRAM_WE_L" 		LOC = G3 	|IOSTANDARD = LVTTL;
NET "DRAM_CS_L" 		LOC = J3 	|IOSTANDARD = LVTTL;

NET "DRAM_DATA[0]" 		LOC = A3 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[1]" 		LOC = A2 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[2]" 		LOC = B3 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[3]" 		LOC = B2 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[4]" 		LOC = C3 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[5]" 		LOC = C2 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[6]" 		LOC = D3 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[7]" 		LOC = E3 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[8]" 		LOC = G1 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[9]" 		LOC = F1 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[10]" 		LOC = F2 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[11]" 		LOC = E1 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[12]" 		LOC = E2 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[13]" 		LOC = D1 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[14]" 		LOC = C1 	|IOSTANDARD = LVTTL;
NET "DRAM_DATA[15]" 		LOC = B1 	|IOSTANDARD = LVTTL;

NET "DRAM_ADDR[0]" 		LOC = L4 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[1]" 		LOC = M3 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[2]" 		LOC = M4 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[3]" 		LOC = N3 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[4]" 		LOC = R2 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[5]" 		LOC = R1 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[6]" 		LOC = P2 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[7]" 		LOC = P1 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[8]" 		LOC = N1 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[9]" 		LOC = M1 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[10]" 	   LOC = L3 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[11]" 	   LOC = L1 	|IOSTANDARD = LVTTL;
NET "DRAM_ADDR[12]" 	   LOC = K1 	|IOSTANDARD = LVTTL;
NET "DRAM_BA[0]" 			LOC = K3 	|IOSTANDARD = LVTTL;

NET "DRAM_BA[1]" 			LOC = K2 	|IOSTANDARD = LVTTL;

//
// SPI
//
NET "SPI_SCK"           LOC = E13 	|IOSTANDARD = LVTTL;
NET "SPI_CS_L"          LOC = B16 	|IOSTANDARD = LVTTL;
NET "SPI_MOSI"          LOC = C16 	|IOSTANDARD = LVTTL;
NET "SPI_MISO"          LOC = D16 	|IOSTANDARD = LVTTL;

//
// UART
//
NET "UART_TX_L"         LOC = A14 	|IOSTANDARD = LVTTL;
NET "UART_RX_L"         LOC = C13 	|IOSTANDARD = LVTTL;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/06
NET "CLK_50M_IN" TNM_NET = CLK_50M_IN;
TIMESPEC TS_CLK_50M_IN = PERIOD "CLK_50M_IN" 20 ns HIGH 50%;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/06
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/06
#NET "CLK_50M_IN" CLOCK_DEDICATED_ROUTE = FALSE;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/07
INST "DRAM_ADDR<0>" TNM = DRAM_output;
INST "DRAM_ADDR<1>" TNM = DRAM_output;
INST "DRAM_ADDR<2>" TNM = DRAM_output;
INST "DRAM_ADDR<3>" TNM = DRAM_output;
INST "DRAM_ADDR<4>" TNM = DRAM_output;
INST "DRAM_ADDR<5>" TNM = DRAM_output;
INST "DRAM_ADDR<6>" TNM = DRAM_output;
INST "DRAM_ADDR<7>" TNM = DRAM_output;
INST "DRAM_ADDR<8>" TNM = DRAM_output;
INST "DRAM_ADDR<9>" TNM = DRAM_output;
INST "DRAM_ADDR<10>" TNM = DRAM_output;
INST "DRAM_ADDR<11>" TNM = DRAM_output;
INST "DRAM_ADDR<12>" TNM = DRAM_output;
INST "DRAM_BA<0>" TNM = DRAM_output;
INST "DRAM_BA<1>" TNM = DRAM_output;
INST "DRAM_CAS_L" TNM = DRAM_output;
INST "DRAM_CKE" TNM = DRAM_output;
INST "DRAM_CLK" TNM = DRAM_output;
INST "DRAM_CS_L" TNM = DRAM_output;
INST "DRAM_DATA<0>" TNM = DRAM_output;
INST "DRAM_DATA<1>" TNM = DRAM_output;
INST "DRAM_DATA<2>" TNM = DRAM_output;
INST "DRAM_DATA<3>" TNM = DRAM_output;
INST "DRAM_DATA<4>" TNM = DRAM_output;
INST "DRAM_DATA<5>" TNM = DRAM_output;
INST "DRAM_DATA<6>" TNM = DRAM_output;
INST "DRAM_DATA<7>" TNM = DRAM_output;
INST "DRAM_DATA<8>" TNM = DRAM_output;
INST "DRAM_DATA<9>" TNM = DRAM_output;
INST "DRAM_DATA<10>" TNM = DRAM_output;
INST "DRAM_DATA<11>" TNM = DRAM_output;
INST "DRAM_DATA<12>" TNM = DRAM_output;
INST "DRAM_DATA<13>" TNM = DRAM_output;
INST "DRAM_DATA<14>" TNM = DRAM_output;
INST "DRAM_DATA<15>" TNM = DRAM_output;
INST "DRAM_DQM<0>" TNM = DRAM_output;
INST "DRAM_DQM<1>" TNM = DRAM_output;
INST "DRAM_RAS_L" TNM = DRAM_output;
INST "DRAM_WE_L" TNM = DRAM_output;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/07
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/08
#TIMEGRP "DRAM_output" OFFSET = OUT 1 ns AFTER "CLK_50M_IN";
#VALID 0.8ns
INST "soc/ncpu32k/*" TNM = TNM_CPU;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/23
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_0" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_1" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_2" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_3" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_4" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_5" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_6" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_7" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_8" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_9" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_10" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_11" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_ADDR_12" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_BA_0" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_BA_1" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_CS_WE_RAS_CAS_L_0" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_CS_WE_RAS_CAS_L_1" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_CS_WE_RAS_CAS_L_2" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_CS_WE_RAS_CAS_L_3" IOB = TRUE;
INST "soc/fb_DRAM_ctrl/DRAM_DQM_0" IOB = TRUE;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/24
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/24
INST "soc/pb_uart/phy_din_sr_0" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_1" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_2" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_3" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_4" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_5" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_6" ASYNC_REG = TRUE;
INST "soc/pb_uart/phy_din_sr_7" ASYNC_REG = TRUE;
INST "soc/pb_uart/uart_rx_sr" ASYNC_REG = TRUE;
INST "soc/pb_uart/we_vld_sr" ASYNC_REG = TRUE;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2020/04/24
TIMESPEC TS_01 = FROM "dcm_clkt_clkout0" TO "dcm_clkt_clkout1" TIG;
TIMESPEC TS_10 = FROM "dcm_clkt_clkout1" TO "dcm_clkt_clkout0" TIG;
TIMESPEC TS_03 = FROM "dcm_clkt_clkout0" TO "dcm_clkt_clkout3" TIG;
TIMESPEC TS_30 = FROM "dcm_clkt_clkout3" TO "dcm_clkt_clkout0" TIG;
#Created by Constraints Editor (xc6slx16-ftg256-2) - 2021/04/05
#INST "soc/ncpu32k/FRONTEND/I_CACHE/CDC_LINE_ADR_CNT_MSB/gen_cdc.stage_r" ASYNC_REG = TRUE;
#INST "soc/ncpu32k/FRONTEND/I_CACHE/CDC_IBUS/CDC_A_B/gen_cdc.stage_r" ASYNC_REG = TRUE;
#INST "soc/ncpu32k/FRONTEND/I_CACHE/CDC_IBUS/CDC_B_A/gen_cdc.stage_r" ASYNC_REG = TRUE;
#INST "soc/ncpu32k/BACKEND/LSU/D_CACHE/CDC_LINE_ADR_CNT_MSB/gen_cdc.stage_r" ASYNC_REG = TRUE;
#INST "soc/ncpu32k/BACKEND/LSU/D_CACHE/CDC_DBUS/CDC_A_B/gen_cdc.stage_r" ASYNC_REG = TRUE;
#INST "soc/ncpu32k/BACKEND/LSU/D_CACHE/CDC_DBUS/CDC_B_A/gen_cdc.stage_r" ASYNC_REG = TRUE;
#INST "soc/ncpu32k/BACKEND/LSU/D_CACHE/CDC_DBUS_WE/gen_cdc.stage_r" ASYNC_REG = TRUE;
